{% extends '@App/Scoreboard/base.html.twig' %}
{% block body %}
    <div class="text-center align-content-center w-100">
	<span class="align-middle">
	    <h1>Welcome to Scoreboard!</h1>
	</span>
    </div>
{% endblock %}
