{% extends '@App/Scoreboard/base.html.twig' %}
{% block body %}
    <div class="text-center align-content-center w-100">
	<span class="align-middle">
	    <h1>Welcome to Scoreboard!</h1>
	    <a role="button" href="/scoreboard/view" class="btn btn-success">View</a>
	    <a role="button" href="/scoreboard/input" class="btn btn-info">Input</a>
	</span>
    </div>
{% endblock %}
