{% extends '@App/Scoreboard/base.html.twig' %}
{% block body %}
    	<div class="py-5 text-center">
	    <h2 style="font-family: Raleway">Scoreboard Input</h2>
	</div>
	<div class="row" style="padding-left: 385px">
	    <div class="col-sm-2 btn-group-vertical" role="group">
	    	<input type="number" class="form-control"><p id="p">0</p>
		<button type="button" class="btn btn-outline-primary" id="home">Home</button>
	    	<button type="button" class="btn btn-outline-primary" id="home3" onclick="add3()">Home +3</button>
	    	<button type="button" class="btn btn-outline-primary" id="home2" onclick="add2()">Home +2</button>
	    	<button type="button" class="btn btn-outline-primary" id="home1" onclick="add1()">Home +1</button>
		<button type="button" class="btn btn-outline-primary" id="homemin" onclick="min()">Home -</button>
    	    </div>
	    <div class="col-sm-3 order-1 btn-group-vertical" role="group">
		<input type="text" class="form-control">
	    	<button type="button" class="btn btn-outline-primary">Set Timer</button>
	    	<button type="button" class="btn btn-outline-primary">Start</button>
	    	<button type="button" class="btn btn-outline-primary">Stop</button>
		<button type="button" class="btn btn-outline-primary">Poss Arrow</button>
	    </div>
	    <div class="col-sm-2 order-12 btn-group-vertical" role="group">
		<input type="text" class="form-control"><p id="p">0</p>
		<button type="button" class="btn btn-outline-primary">Guest</button>
		<button type="button" class="btn btn-outline-primary" onclick="add3()">Guest +3</button>
		<button type="button" class="btn btn-outline-primary">Guest +2</button>
		<button type="button" class="btn btn-outline-primary">Guest +1</button>
		<button type="button" class="btn btn-outline-primary">Guest -</button>
	    </div>
	</div>
{% endblock %}

{% block javascript %}
    <script src="/js/Scoreboard/input.js"></script>
{% endblock %}
