
{% extends '@App/Scoreboard/base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="/css/Scoreboard/view.css"/>
{% endblock %}


{% block body %}
	<div class="col-md-6 offset-md-3">
		<div class="card card-default bg-dark text-white">
			<div class="card-header align-center title">
				Scoreboard View
			</div>
			<div class="card-body">
				<div class="row align-center">
					<div class="col-md-4">
						HOME
					</div>
					<div class="col-md-4">
						TIME
					</div>
					<div class="col-md-4">
						GUEST
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
